.side_bar
  .side_bar__header
    .side_bar__header__box
      .side_bar__header__box-name
        = current_user.name
      .side_bar__header__box-icon
        =link_to new_group_path, class: "criate-group" do
          =icon("fas","edit")
        =link_to edit_user_path(current_user) , class: "setting" do
          =icon("fas","cog")

  .side_bar__list
    - current_user.groups.each do |group|
      =link_to group_messages_path(group),class:"side_bar__group" do
        .side_bar__list__group
          .side_bar__list__group-name
            = group.name
          .side_bar__list__group-message
            = group.show_last_message